/*personal页面的css,可能会有重复，我是覆盖掉一些个属性*/
.com-header-area{
	height: 90px;
	width: 100%;
	text-align: center;	
	background: url(../img/ojia.png) right center no-repeat;
	background-color: #f39c12;
}
.com-header-area h1{
	font-weight: normal;
}

.com-content-area{
	background: url(../img/back2.png) left top no-repeat;
}
